<p-toast [life]="850"/>
<div>
    <div class="darkbar">
        <div style="margin-left:20px;">
            <button class="transparent_button" (click)="onContactClick()">CONTACT</button>
        </div>
        
        <div *ngIf="!this.is_login; else elseBlock" style="margin-right:20px;">
            <button #loginButton class="login_button" (click)="onLoginClick()">LOGIN</button>
        </div>
        <ng-template #elseBlock>
            <div style="margin-right:20px;">
                <button mat-button [matMenuTriggerFor]="menu" class="account">{{this.username[0].toUpperCase()}}</button>
                <mat-menu #menu="matMenu">
                    <button class="account_item" mat-menu-item (click)="onLogoutClick()">Logout</button>
                </mat-menu>
            </div>
        </ng-template>
    </div>
    <div class="midbar">
        <div style="display: flex; width:300px">
            <div>
                <button class="transparent_button menu_button" (click)="onHomeClick()">HOME</button>
            </div>
            <div>
                <button class="transparent_button menu_button" (click)="onHotelsClick()">HOTELS</button>
            </div>
            <div>
                <button class="transparent_button menu_button" style="width:150px" (click)="onMyReservationsClick()">MY RESERVATIONS</button>
            </div>
        </div>
        <div>
            <img src="/assets/logo.png" height="50px" alt="image">
        </div>
        <div style="width:300px;"></div>
    </div>
</div>
